In [6]:
#Explor and clean dataset first
import pandas as pd

##Explor data
df = pd.read_csv("global_street_food.csv")
print(df.head())
print(df.isnull().sum())
print(df.shape[0])

     Dish Name   Country Region/City  \
0     Takoyaki     Japan       Osaka
1     Vada Pav     India      Mumbai
2  Funnel Cake       USA       Texas
3   Kathi Roll     India     Kolkata
4     Pad Thai  Thailand     Bangkok

                                         Ingredients  \
0  Octopus, Flour Batter, Bonito Flakes, Green On...
1                 Potato, Spices, Bread Bun, Chutney
2                                 Batter, Sugar, Oil
3           Flatbread, Egg, Chicken, Onions, Chutney
4    Rice Noodles, Tofu, Eggs, Peanuts, Bean Sprouts

                                         Description Cooking Method  \
0  Crispy and hot, often served with sauces or ch...          Fried
1  Crispy and hot, often served with sauces or ch...          Fried
2  Crispy and hot, often served with sauces or ch...          Fried
3         Charred to perfection with a smoky flavor.        Grilled
4     Quickly tossed in a hot pan with bold flavors.     Stir-Fried

   Typical Price (USD) Vegetarian
0                 3.28         No
1                 2.37        Yes
2                 2.78        Yes
3                 1.89         No
4                 3.48        Yes
Dish Name              0
Country                0
Region/City            0
Ingredients            0
Description            0
Cooking Method         0
Typical Price (USD)    0
Vegetarian             0
dtype: int64
4500

In [8]:
df = df.drop(columns=["Typical Price (USD)"])

In [9]:
###Clean duplicate data
for col in df.columns:
    duplicate_count = df[col].duplicated().sum()
    print(f"Column '{col}' has {duplicate_count}")

Column 'Dish Name' has 4475
Column 'Country' has 4489
Column 'Region/City' has 4475
Column 'Ingredients' has 4474
Column 'Description' has 4485
Column 'Cooking Method' has 4491
Column 'Vegetarian' has 4498

In [10]:
df_cleaned = df.apply(lambda x: x.str.strip().str.lower() if x.dtype == "object" else x)
df_cleaned = df.drop_duplicates()
print(df_cleaned.shape[0])

27

In [11]:
print(df_cleaned)

               Dish Name       Country   Region/City  \
0               Takoyaki         Japan         Osaka
1               Vada Pav         India        Mumbai
2            Funnel Cake           USA         Texas
3             Kathi Roll         India       Kolkata
4               Pad Thai      Thailand       Bangkok
6              Pani Puri         India         Delhi
7                Taiyaki         Japan         Kyoto
8                Gözleme        Turkey        Ankara
9                Kokoreç        Turkey         Izmir
12          Roti Sai Mai      Thailand     Ayutthaya
14              Yakisoba         Japan         Tokyo
15            Quesadilla        Mexico        Puebla
21                 Elote        Mexico   Guadalajara
23               Hot Dog           USA      New York
28       Tacos al Pastor        Mexico   Mexico City
38                 Simit        Turkey      Istanbul
42              Moo Ping      Thailand    Chiang Mai
55    Philly Cheesesteak           USA  Philadelphia
4000             Falafel        Israel      Tel Aviv
4003            Manakish       Lebanon       Tripoli
4004            Shawarma       Lebanon        Beirut
4167         Okonomiyaki         Japan     Hiroshima
4168            Yakisoba         Japan         Tokyo
4170             Taiyaki         Japan         Osaka
4334          Bunny Chow  South Africa        Durban
4335                Suya       Nigeria         Lagos
4336             Koshari         Egypt         Cairo

                                            Ingredients  \
0     Octopus, Flour Batter, Bonito Flakes, Green On...
1                    Potato, Spices, Bread Bun, Chutney
2                                    Batter, Sugar, Oil
3              Flatbread, Egg, Chicken, Onions, Chutney
4       Rice Noodles, Tofu, Eggs, Peanuts, Bean Sprouts
6                 Semolina, Tamarind, Chickpeas, Spices
7                                 Flour, Red Bean Paste
8                                Dough, Spinach, Cheese
9                        Lamb Intestines, Spices, Bread
12                                   Roti, Cotton Candy
14               Noodles, Pork, Cabbage, Yakisoba Sauce
15                          Tortilla, Cheese, Mushrooms
21                     Corn, Mayo, Cheese, Chili Powder
23                       Sausage, Bun, Mustard, Ketchup
28                    Pork, Pineapple, Onions, Cilantro
38                           Flour, Sesame Seeds, Yeast
42                       Pork, Garlic, Soy Sauce, Sugar
55                           Beef, Cheese, Roll, Onions
4000             Chickpeas, Herbs, Spices, Tahini Sauce
4003                      Flatbread, Za'atar, Olive Oil
4004            Meat, Pita Bread, Garlic Sauce, Pickles
4167                  Cabbage, Flour, Pork, Sauce, Mayo
4168                         Noodles, Vegetables, Sauce
4170                              Flour, Red Bean Paste
4334                                       Bread, Curry
4335                              Beef, Spices, Skewers
4336         Lentils, Rice, Pasta, Tomato Sauce, Onions

                                            Description  Cooking Method  \
0     Crispy and hot, often served with sauces or ch...           Fried
1     Crispy and hot, often served with sauces or ch...           Fried
2     Crispy and hot, often served with sauces or ch...           Fried
3            Charred to perfection with a smoky flavor.         Grilled
4        Quickly tossed in a hot pan with bold flavors.      Stir-Fried
6     Put together fresh with a mix of flavors and t...       Assembled
7         Golden brown and fluffy with a soft interior.           Baked
8            Charred to perfection with a smoky flavor.         Grilled
9            Charred to perfection with a smoky flavor.         Grilled
12    Put together fresh with a mix of flavors and t...       Assembled
14       Quickly tossed in a hot pan with bold flavors.      Stir-Fried
15           Charred to perfection with a smoky flavor.         Grilled
21        Soft and juicy, sometimes charred for flavor.  Boiled/Grilled
23           Charred to perfection with a smoky flavor.         Grilled
28           Charred to perfection with a smoky flavor.         Grilled
38        Golden brown and fluffy with a soft interior.           Baked
42           Charred to perfection with a smoky flavor.         Grilled
55           Charred to perfection with a smoky flavor.         Grilled
4000  Deep-fried chickpea balls served in pita with ...           Fried
4003       Flatbread topped with za'atar and olive oil.           Baked
4004  Sliced meat wrapped in pita bread with garlic ...         Grilled
4167  Savory pancake with varied fillings and toppings.       Pan-Fried
4168      Stir-fried noodles with vegetables and sauce.      Stir-Fried
4170       Fish-shaped cake filled with red bean paste.           Baked
4334                  Hollowed bread filled with curry.          Stewed
4335          Spicy meat skewers grilled to perfection.         Grilled
4336  A hearty mix of grains topped with spicy tomat...          Boiled

     Vegetarian
0            No
1           Yes
2           Yes
3            No
4           Yes
6           Yes
7           Yes
8           Yes
9            No
12          Yes
14           No
15          Yes
21          Yes
23           No
28           No
38          Yes
42           No
55           No
4000        Yes
4003        Yes
4004         No
4167         No
4168        Yes
4170        Yes
4334         No
4335         No
4336        Yes

In [12]:
df_cleaned.to_csv("cleaned_dataset.csv", index=False)